trunk/Dependencies/aswing/awml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by guide (HOME) -->
<xs:schema targetNamespace="http://www.aswing.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.aswing.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Component">
		<xs:all minOccurs="0" maxOccurs="1">
			<!-- borders -->
			<xs:element name="titled-border" type="TitledBorder"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="simple-titled-border" type="SimpleTitledBorder"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="side-line-border" type="SideLineBorder"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="line-border" type="LineBorder"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="empty-border" type="EmptyBorder"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="bevel-border" type="BevelBorder" minOccurs="0" maxOccurs="1"/>
			<!-- properties -->
			<xs:element name="background" type="Color" minOccurs="0" maxOccurs="1"/>
			<xs:element name="foreground" type="Color" minOccurs="0" maxOccurs="1"/>
			<xs:element name="font" type="Font" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="visible" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="focus" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="max-width" type="xs:int" use="optional"/>
		<xs:attribute name="max-height" type="xs:int" use="optional"/>
		<xs:attribute name="min-width" type="xs:int" use="optional"/>
		<xs:attribute name="min-height" type="xs:int" use="optional"/>
		<xs:attribute name="width" type="xs:int" use="optional"/>
		<xs:attribute name="height" type="xs:int" use="optional"/>
		<xs:attribute name="preferred-width" type="xs:int" use="optional"/>
		<xs:attribute name="preferred-height" type="xs:int" use="optional"/>
		<xs:attribute name="opaque" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="tool-tip" type="xs:string" use="optional"/>
		<xs:attribute name="hand-cursor" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="x" type="xs:int" use="optional"/>
		<xs:attribute name="y" type="xs:int" use="optional"/>
		<xs:attribute name="constraint" type="ComponentConstraint" use="optional"/>
		<xs:attribute name="trigger-enabled" type="xs:boolean" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="Container">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:choice minOccurs="0">
						<xs:element name="soft-box-layout" type="SoftBoxLayout" minOccurs="0" maxOccurs="1"/>
						<xs:element name="grid-layout" type="GridLayout" minOccurs="0" maxOccurs="1"/>
						<xs:element name="flow-layout" type="FlowLayout" minOccurs="0" maxOccurs="1"/>
						<xs:element name="box-layout" type="BoxLayout" minOccurs="0" maxOccurs="1"/>
						<xs:element name="border-layout" type="BorderLayout" minOccurs="0" maxOccurs="1"/>
						<xs:element name="empty-layout" type="EmptyLayout" minOccurs="0" maxOccurs="1"/>
					</xs:choice>
					<xs:element name="text-field" type="TextField" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="text-area" type="TextArea" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="separator" type="Separator" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="progress-bar" type="ProgressBar" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="label" type="Label" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="button" type="Button" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="toggle-button" type="ToggleButton" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="check-box" type="CheckBox" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="radio-button" type="RadioButton" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="view-port" type="ViewPort" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="tool-bar" type="ToolBar" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="scroll-pane" type="ScrollPane" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="scroll-bar" type="ScrollBar" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="panel" type="Panel" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="soft-box" type="SoftBox" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="box" type="Box" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="option-pane" type="OptionPane" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="list" type="List" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="combo-box" type="ComboBox" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="accordion" type="Accordion" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="load-pane" type="LoadPane" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="attach-pane" type="AttachPane" minOccurs="0" maxOccurs="unbounded"/>
					<!-- containers -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextComponent">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:attribute name="editable" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="html" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="text" type="xs:string" use="optional"/>
				<xs:attribute name="max-chars" type="xs:int" use="optional"/>
				<xs:attribute name="password" type="xs:boolean" use="optional" default="false"/>
				<xs:attribute name="restrict" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextField">
		<xs:complexContent>
			<xs:extension base="TextComponent">
				<xs:attribute name="columns" type="xs:int" use="optional" default="0"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextArea">
		<xs:complexContent>
			<xs:extension base="TextComponent">
				<xs:attribute name="columns" type="xs:int" use="optional" default="0"/>
				<xs:attribute name="rows" type="xs:int" use="optional" default="0"/>
				<xs:attribute name="multiline" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="word-wrap" type="xs:boolean" use="optional" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Separator">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:attribute name="orientation" type="SeparatorOrientation" use="optional" default="horizontal"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProgressBar">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:attribute name="indeterminate" type="xs:boolean" use="optional" default="false"/>
				<xs:attribute name="maximum" type="xs:int" use="optional"/>
				<xs:attribute name="minimum" type="xs:int"/>
				<xs:attribute name="value" type="xs:int"/>
				<xs:attribute name="orientation" type="ProgressBarOrientation" use="optional" default="horizontal"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Label">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:attribute name="horizontal-align" type="LabelHorizontalAlign" use="optional"/>
				<xs:attribute name="vertical-align" type="LabelVerticalAlign" use="optional"/>
				<xs:attribute name="horizontal-position" type="LabelHorizontalAlign" use="optional"/>
				<xs:attribute name="vertical-position" type="LabelVerticalAlign" use="optional"/>
				<xs:attribute name="icon-text-gap" type="xs:int" use="optional"/>
				<xs:attribute name="text" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractButton">
		<xs:complexContent>
			<xs:extension base="Component">
				<xs:all minOccurs="0" maxOccurs="1">
					<xs:element name="margins" type="Insets" minOccurs="0" maxOccurs="1"/>
				</xs:all>
				<xs:attribute name="horizontal-align" type="ButtonHorizontalAlign" use="optional"/>
				<xs:attribute name="vertical-align" type="ButtonVerticalAlign" use="optional"/>
				<xs:attribute name="horizontal-position" type="ButtonHorizontalAlign" use="optional"/>
				<xs:attribute name="vertical-position" type="ButtonVerticalAlign" use="optional"/>
				<xs:attribute name="icon-text-gap" type="xs:int" use="optional"/>
				<xs:attribute name="text" type="xs:string" use="optional"/>
				<xs:attribute name="roll-over-enabled" type="xs:boolean" use="optional" default="true"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Button">
		<xs:complexContent>
			<xs:extension base="AbstractButton"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToggleButton">
		<xs:complexContent>
			<xs:extension base="AbstractButton">
				<xs:attribute name="selected" type="xs:boolean" use="optional" default="true"></xs:attribute>
				<xs:attribute name="group-id" type="xs:string" use="optional"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RadioButton">
		<xs:complexContent>
			<xs:extension base="ToggleButton"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CheckBox">
		<xs:complexContent>
			<xs:extension base="ToggleButton"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Window">
		<xs:complexContent>
			<xs:extension base="Container">
				<xs:attribute name="owner" type="xs:string" use="optional" default="_root"/>
				<xs:attribute name="active" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="modal" type="xs:boolean" use="optional" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Frame">
		<xs:complexContent>
			<xs:extension base="Window">
				<xs:attribute name="closable" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="draggable" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="resizable" type="xs:boolean" use="optional" default="true"/>
				<xs:attribute name="title" type="xs:string" use="optional"/>
				<xs:attribute name="state" type="FrameState" use="optional" default="normal"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolBar">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ScrollPane">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ScrollBar">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Panel">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OptionPane">
		<xs:complexContent>
			<xs:extension base="Panel"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="List">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ComboBox">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Accordion">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FloorPane">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LoadPane">
		<xs:complexContent>
			<xs:extension base="FloorPane"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttachPane">
		<xs:complexContent>
			<xs:extension base="FloorPane"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SoftBox">
		<xs:complexContent>
			<xs:extension base="Panel">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Box">
		<xs:complexContent>
			<xs:extension base="Panel">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ViewPort">
		<xs:complexContent>
			<xs:extension base="Container"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="aswing">
		<xs:complexType>
			<xs:choice>
				<xs:element name="window" type="Window"/>
				<xs:element name="frame" type="Frame"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EmptyLayout"/>
	<xs:complexType name="SoftBoxLayout">
		<xs:complexContent>
			<xs:extension base="EmptyLayout">
				<xs:sequence/>
				<xs:attribute name="axis" type="SoftBoxAxis" use="optional" default="x"/>
				<xs:attribute name="gap" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GridLayout">
		<xs:complexContent>
			<xs:extension base="EmptyLayout">
				<xs:sequence/>
				<xs:attribute name="rows" type="xs:int" use="optional"/>
				<xs:attribute name="columns" type="xs:int" use="optional"/>
				<xs:attribute name="hgap" type="xs:int" use="optional"/>
				<xs:attribute name="vgap" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlowLayout">
		<xs:complexContent>
			<xs:extension base="EmptyLayout">
				<xs:sequence/>
				<xs:attribute name="align" type="FlowLayoutAlign" use="optional" default="left"/>
				<xs:attribute name="hgap" type="xs:int" use="optional"/>
				<xs:attribute name="vgap" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BoxLayout">
		<xs:complexContent>
			<xs:extension base="EmptyLayout">
				<xs:sequence/>
				<xs:attribute name="axis" type="BoxAxis" use="optional" default="x"/>
				<xs:attribute name="gap" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BorderLayout">
		<xs:complexContent>
			<xs:extension base="EmptyLayout">
				<xs:sequence/>
				<xs:attribute name="hgap" type="xs:int" use="optional"/>
				<xs:attribute name="vgap" type="xs:int" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Font"/>
	<xs:complexType name="Color"/>
	<xs:complexType name="Insets">
		<xs:attribute name="top" type="xs:int" use="optional"/>
		<xs:attribute name="left" type="xs:int" use="optional"/>
		<xs:attribute name="right" type="xs:int" use="optional"/>
		<xs:attribute name="bottom" type="xs:int" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DecorateBorder"/>
	<xs:complexType name="TitledBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimpleTitledBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SideLineBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmptyBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BevelBorder">
		<xs:complexContent>
			<xs:extension base="DecorateBorder">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="FrameState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal"/>
			<xs:enumeration value="iconified"/>
			<xs:enumeration value="maximized"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlowLayoutAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SoftBoxAxis">
		<xs:restriction base="xs:string">
			<xs:enumeration value="x"/>
			<xs:enumeration value="y"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BoxAxis">
		<xs:restriction base="xs:string">
			<xs:enumeration value="x"/>
			<xs:enumeration value="y"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentConstraint">
		<xs:restriction base="xs:string">
			<xs:enumeration value="north"/>
			<xs:enumeration value="east"/>
			<xs:enumeration value="west"/>
			<xs:enumeration value="south"/>
			<xs:enumeration value="center"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeparatorOrientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProgressBarOrientation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="horizontal"/>
			<xs:enumeration value="vertical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabelHorizontalAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LabelVerticalAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="bottom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ButtonHorizontalAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="left"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="right"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ButtonVerticalAlign">
		<xs:restriction base="xs:string">
			<xs:enumeration value="top"/>
			<xs:enumeration value="center"/>
			<xs:enumeration value="bottom"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
